[build]
  command = "npm install && npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20.19.0"
  NPM_FLAGS = "--legacy-peer-deps"
  CI = "false"

[context.production.environment]
  NODE_ENV = "production"

# Para SPA (Single Page Application)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200